* { margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Lato', arial, sans-serif;}

body {font-size: 1.2em; background-color: #f9f9f9;}
@mixin box-shadow {-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);}

#showDetail {margin-top: 2em;
    > div.title {width: 50rem; font-size: 2.2em; background-color: beige; padding: 0.2em 0; margin: 0 auto; text-align: center;}
    > div.hr {border: 2px solid #4595fd; width: 50rem; margin: 0 auto; padding: 0;}
    > div.film {width: 50rem; margin: 0 auto; padding: 1em 2em 1.5em 0; background-color: #ffffff;
        > div.poster {position: relative; right: 5px;
            > div {position: absolute; right: 0; 
                > img:first-child {height: 12em; @include box-shadow;}
                > div {text-align: center;
                    > input.favorit {margin-top: 0.6em;}
                }
            }
        }
        > .bloq1, .bloq2 {
            > div {padding: 0.3em 0; display: flex;
                > div:first-child {width: 10rem; text-align: right; margin-right: 1.2em;}
                > div:nth-child(2) {display: flex; align-items: center;}
            }
        }
        > .bloq1 {width: 80%;
            > div > div:nth-child(2) {width: 25rem;
                img {height: 1.1em;}
            }
        }
        .bloq2 > div > div:nth-child(2) {width: 36rem;}
    }
}
div.divBackdrop {background-color: beige; width: 50rem; margin: 0 auto; padding: 2em 0; display: flex; justify-content: center;
    > img {width: 60%; cursor: url("../img/lenmore.png"), auto; @include box-shadow;}
}
#bigImg {position: absolute; top: 0; z-index: 1; width: 100%;
    > img {width: 92%; margin-left: 4%; box-shadow: 1.5px 2.6px 7.79px 11.21px rgba(0, 0, 0, 0.5); cursor: url("../img/lenless.png"), auto;}
}
div#showMap {width: 50rem; font-size: 1.6em; background-color: #ffffff; margin: 0 auto 2em auto; padding: 1.2em 1.1em 1.2em 0; display: flex; flex-direction: column; align-items: center; background-size: cover; background-blend-mode: lighten; background-color: rgba(255, 255, 255, 0.9);
    > #mapBox {height: 24em; width: 75%; @include box-shadow;}
    > #mapMsg {font-size: 0.6em; margin: 0 0.1em 0.2em 0; color: rgb(160, 160, 160); font-weight: bold;}
    .marker {background-image: url("../img/icogeo.png"); cursor: pointer; height: 25px; width: 20px;}   
}
