* { margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Lato', arial, sans-serif;}

body {display: flex; font-size: 1.1em;}
#sideLeft {width: 20rem; min-height: 100vh; padding-left: 1rem; color: rgb(230, 228, 253); background: url(../img/backleft.jpg) #0a3045 repeat; background-size: 100%;
    > a {text-decoration: none; color: white; font-weight: bold;
        > h1 {margin: 1.2em 0 1.6em 0.2em;           
            -o-text-overflow: clip; text-overflow: clip;
            text-shadow: 1px 1px 0 rgba(244,247,246,1) , -1px -1px 0 rgba(244,247,246,1) , 1px -1px 0 rgba(244,247,246,1) , -1px 1px 0 rgba(244,247,246,1) , 4px 4px 8px rgba(34,117,45,1) , -4px 4px 8px rgba(28,127,62,1) , 4px -4px 8px rgba(28,127,62,1) , -4px -4px 8px rgba(28,127,62,1) ;
            -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
         }
    }
    > div.MyList {height: 5em; width: 18rem;
        > div.tit {font-weight: bold; margin: 1em 0 0.4em 0;}
        > #dragDrop {height: 3.3em; background-color: white; border-radius: 3px 3px 3px 3px; padding-right: 1.5em; display: flex; justify-content: space-between; align-items: center;
            > div#btnToSee {background-color: #e9efe9; height: 100%; width: 20%; display: flex; align-items: center; justify-content: center; border-radius: 3px 0 0 3px; cursor: pointer;
                > img {transition: transform 0.8s; height: 24px;}
            }
            > div {text-align: right; font-size: 0.8em;
                > div#dragHere {color: #86869b; letter-spacing: 1px;}
                > div.filmsToSee {color: #346531;
                    > span#numToSee {color: #5a5a71;}
                }
            }
        }
    }
}
#sideRight {width: 70rem;
    > div.search_N_menu {margin: 2em 2.2em; display: flex; justify-content: space-between;
        > .divSearch {border: 1px solid #042931; width: 20em; height: 2.4em; border-radius: 5px 5px 5px 5px; position: relative;
            > #inputSearch {border: none; width: 90%; padding: 3px 8px; height: 100%; background: transparent; position: absolute;
                &::placeholder {font-size: 0.9em; color: rgb(144, 142, 142);}
            }
            > #btnSearch {height: 70%; right: 10px; top: 13%; position: absolute;}
        }
        > .selectSort {border: 1px solid #042931; width: 20em; border-radius: 5px 5px 5px 5px; padding: 0 6px; background: url(../img/icoselec.png) #fff no-repeat 17.4em; appearance: none; -webkit-appearance: none; -moz-appearance: none;
            > option {height: 1.7em;}
        }
    }
    > #showFilms {display: flex; justify-content: flex-start; flex-wrap: wrap;
        > div.film {width: 18%; margin: 0 2em 0 2.2em;
            > a {text-decoration: none; color: rgb(16, 16, 81);
                > img {border-radius: 8px 8px 8px 8px; width: 100%;-webkit-box-shadow: 0px 5px 24px -5px rgba(0,0,0,0.75); -moz-box-shadow: 0px 5px 24px -5px rgba(0,0,0,0.75); box-shadow: 0px 5px 24px -5px rgba(0,0,0,0.75); transition: transform 0.3;
                    &:hover {transform: scale(1.013);}
                }
                > div.title {margin: 0.9em 0 0.8em 0; font-weight: bold; height: 2.5em;}
            }
            > div.favVote {display: flex; justify-content: space-between; margin-bottom: 2vw;
                > span.vote > img {height: 1.2em;}
                > span > input {height: 1.2em;}
            }
        }
    }
    #pageForwBac {margin: 2em 0 3em 2.2em; display: flex; justify-content: center; align-items: center;
        > button {background-color: rgb(242, 245, 248); border-radius: 20px 20px 20px 20px; border: 1px solid #b2b3b3; margin-right: 1.2vw; cursor: pointer;
            &#btnPgBack {display: none; padding: 6px 20px;}
            &#btnPgForw {padding: 6px 12px;}
            > span {font-weight: bold; color: blue;}
        }
    }
}

@keyframes move {
    0% { text-shadow: 1px -1px 0 rgb(105, 24, 24), -1px 1px 0 rgb(0, 255, 64) }
    25% { text-shadow: -1px -1px 0 rgb(0, 255, 64), 1px 1px 0 rgb(105, 24, 24) }
    50% { text-shadow: -1px 1px 0 rgb(105, 24, 24), 1px -1px 0 rgb(0, 255, 64) }
    75% { text-shadow: 1px 1px 0 rgb(0, 255, 64), -1px -1px 0 rgb(105, 24, 24) }
    100% { text-shadow: 1px -1px 0 rgb(105, 24, 24), -1px 1px 0 rgb(0, 255, 64) }  
}




